{% extends "../layout.njk" %}

{% block mainContent %}
  <div id="individual">
    <ul>
        <li>
            {{ applicantData.name }}<br>
            {{ applicantData.address }}<br>
            {{ applicantData.number }}<br>
            {{ applicantData.experience }}<br>
        </li><br>
    </ul>

    <a href="/applicants">Back</a>
  </div>
{% endblock %}
