{% extends "../layout.njk" %}

{% block mainContent %}
  <ul>
      <li id='individual'>
          {{ applicantData.name }}<br>
          {{ applicantData.address }}<br>
          {{ applicantData.number }}<br>
          {{ applicantData.experience }}<br>
      </li><br>
  </ul>

  <a href="/applicants">Back</a>
{% endblock %}
