.candName{
  font-size: 1.3em;
}

.candNum {
  font-style: italic;
  font-size: 0.9em;
}

.list-header {
  list-style-type: none;
}

.list-point {
  list-style-type: disc;
}

.search-item {
  line-height: 1em;
  padding: 0.3em;
}

.workExp {
  text-align: center;
}
